/* Colors */
/**/
/* Colors */
/**/
#main .first-section,
#main .second-section,
#main .third-section,
#main .fourth-section {
  position: relative; }

#main .carousel-control-prev,
#main .carousel-control-next {
  position: absolute;
  right: -20px; }

#main .carousel-control-prev {
  top: 240px; }

#main .carousel-control-next {
  bottom: 240px; }

@media (max-width: 1400px) {
  #main .carousel-control-prev {
    top: 200px; }
  #main .carousel-control-next {
    bottom: 200px; }
  #main .main-title {
    font-size: 40px !important; }
  #main .second-section .bg-text {
    bottom: 80px !important; }
  #main .third-section .bg-text {
    bottom: 0;
    left: -50px; }
  #main .third-section p {
    width: 100% !important; } }

@media (min-width: 1400px) {
  #main .second-section .bg-text {
    top: -40px !important;
    left: 0 !important;
    right: 0; } }

@media (max-width: 1200px) {
  #main .carousel-control-prev {
    top: 175px; }
  #main .carousel-control-next {
    bottom: 175px; } }

@media (max-width: 992px) {
  #main .fourth-section .md-divider {
    width: 150%;
    background: #292a37;
    opacity: 1;
    height: 6px;
    margin-left: -20%;
    position: relative;
    margin-bottom: 30px;
    transform: rotate(-5deg); }
  #main .fourth-section .second-item {
    text-align: right; }
    #main .fourth-section .second-item .bg-text {
      margin-left: unset !important;
      right: -70px !important; }
    #main .fourth-section .second-item .main-btn {
      right: 0; } }

@media (max-width: 767px) {
  #main .md-divider {
    margin-left: -60% !important;
    width: 300% !important; }
  #main .third-section {
    text-align: center;
    margin: 0 auto; }
    #main .third-section p {
      text-align: center !important; }
    #main .third-section img {
      width: 70% !important;
      margin: 0 auto; }
    #main .third-section .main-btn {
      margin-bottom: 20px; }
    #main .third-section .specs .col-6:not([data-value="12-mag"]):not([data-value="5.0-Ghz"]) {
      margin-top: 40px; }
  #main .second-section .col-12:not([data-value="chip"]) {
    margin-top: 20px !important; } }

@media (min-width: 992px) and (max-width: 1198px) {
  #main .fourth-section .first-item .bg-text {
    margin-left: -100px !important; } }

@media (min-width: 768px) and (max-width: 992px) {
  #main .first-section .bg-text {
    top: 50px !important; }
  #main .first-section .main-btn {
    margin-top: 100px !important;
    margin-bottom: 40px; }
  #main .second-section .bg-text {
    top: 150px !important;
    left: -130px !important; }
  #main .third-section .bg-text {
    top: 400px !important;
    left: -80px !important; }
  #main .third-section .specs .col-6 {
    margin-top: 30px;
    padding-bottom: 10px; }
  #main .third-section .specs .col-6[data-value="5.0-Ghz"] {
    border-bottom: 2px solid #676eff; } }

@media (max-width: 768px) {
  #main .first-section .main-btn {
    margin-top: 40px !important; } }

@media (max-width: 500px) {
  #main .main-title {
    font-size: 30px !important; }
  #main .first-section .main-btn {
    margin-top: 10px !important;
    margin-bottom: 15px !important;
    margin-left: auto !important;
    margin-right: auto !important; }
  #main .first-section .col-lg-7 {
    text-align: center; }
  #main .carousel-control-next {
    top: unset !important;
    bottom: -50px !important;
    right: 100px !important; }
  #main .carousel-control-prev {
    top: unset !important;
    bottom: -50px !important;
    left: 100px !important; }
  #main .first-hr {
    margin-top: 100px !important; } }

#main .first-section {
  margin-top: 75px; }

#main .main-title {
  font-size: 55px;
  font-weight: 700; }

#main .first-section .main-btn {
  margin-top: 150px; }

#main .first-section .bg-text {
  bottom: 140px;
  left: -50px; }

#main .second-section .bg-text {
  top: 0;
  left: -100px; }

#main .second-section .icon {
  margin-bottom: 10px; }

#main .second-section .icon.chip {
  width: 45px;
  margin-top: -12px; }

#main .second-section .icon:not(.chip) {
  width: 50px; }

#main .second-section hr {
  background-color: #676eff;
  opacity: 1;
  margin-top: 10px;
  margin-bottom: 16px;
  width: 25px;
  height: 3px;
  margin-right: auto;
  margin-left: auto; }

#main .second-section p {
  font-size: 14px; }

#main .second-section .second-title {
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0px; }

#main .third-section .bg-text {
  bottom: 200px;
  left: -50px; }

#main .third-section .title {
  font-weight: 700; }

#main .third-section p {
  width: 90%;
  text-align: justify; }

#main .third-section h2 {
  text-align: center;
  font-weight: 700;
  font-size: 25px;
  color: #eeeeee;
  margin: 8px 0; }

#main .third-section .sm-text {
  text-align: center;
  color: #8a8a8f;
  font-size: 16px; }

#main .third-section img {
  margin-top: -40px; }

#main .third-section .specs {
  margin-top: 30px; }

#main .third-fourth {
  margin-top: 50px;
  margin-bottom: 0; }

#main .fourth {
  padding: 0 75px !important; }

#main .fourth-section .divider {
  margin: 0 auto;
  position: relative;
  height: 100%;
  width: 5px !important;
  background-color: #292a37;
  opacity: 1; }

#main .fourth-section .sup-title {
  color: #8a8a8f; }

#main .fourth-section .title {
  margin-top: 60px;
  font-weight: 600;
  margin-bottom: 200px; }

#main .fourth-section .bg-text {
  margin-left: -70px;
  bottom: 150px; }

#main .fourth-section .main-btn {
  position: absolute;
  bottom: 75px; }

#main .fourth-section .first-item,
#main .fourth-section .second-item {
  position: relative;
  padding: 60px 0; }

#main .fourth-section br {
  display: none; }

#main .fourth-section .title {
  font-size: 22px; }

@media (min-width: 1200px) {
  .auth-wrapper {
    margin-top: -130px !important; } }

@media (max-width: 991px) {
  .or-login button {
    margin: 10px 0 !important; } }

@media (max-width: 767px) {
  .auth-wrapper {
    z-index: 1 !important;
    border: none !important;
    margin: 0 auto !important; }
    .auth-wrapper .register-container {
      margin: 100px 50px !important; }
  .symbol {
    display: none; }
  .lock {
    display: none !important; } }

@media (max-width: 520px) {
  footer {
    z-index: 2 !important; }
  .or-login-hr {
    display: none !important; }
  h5 {
    margin-bottom: 10px; }
  .main-btn {
    margin-top: 65px !important;
    margin-bottom: 25px !important; }
  .or-login-wrapper {
    width: 95% !important; }
  .or-login {
    margin-bottom: 20px !important;
    padding: 0 !important;
    width: 100% !important;
    margin-left: unset !important;
    background-color: transparent !important;
    border: none !important; }
  .to-login {
    width: 135% !important; }
  .switch-container .slider {
    transform: translateX(60%); }
  .switch-container #rememberLabel, .switch-container #showPwdLabel {
    margin-top: 40px;
    right: -65px; }
  .register-container .birth-picker input {
    width: 100% !important; }
  .register-container #showPwdLabel {
    top: -35px !important;
    right: -175px !important; } }

.auth-bg-text {
  z-index: -2 !important;
  top: 400px;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg); }

#rememberLabel, #showPwdLabel {
  position: absolute;
  right: -110px;
  top: 4px; }

#showPwdLabel {
  right: -130px; }

.auth-wrapper {
  margin: 0 auto;
  max-width: 550px;
  overflow: visible;
  border: 5px solid #292a37;
  border-radius: 0;
  width: 100%;
  margin-top: -18px;
  margin-bottom: -5px;
  z-index: -1;
  background-color: #23232e;
  display: block;
  position: relative; }
  .auth-wrapper .login-container, .auth-wrapper .register-container {
    margin: 100px 50px;
    margin-top: 150px !important;
    text-align: center;
    position: relative; }
    .auth-wrapper .login-container .sub-input-text, .auth-wrapper .register-container .sub-input-text {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 12px;
      font-weight: 400;
      color: #8a8a8f; }
    .auth-wrapper .login-container h5, .auth-wrapper .register-container h5 {
      margin: 20px 0;
      font-size: 18px;
      font-weight: 400; }
    .auth-wrapper .login-container .or-login-hr, .auth-wrapper .register-container .or-login-hr {
      background-color: #eeeeee;
      height: 4px;
      margin-bottom: 20px; }
    .auth-wrapper .login-container .or-login, .auth-wrapper .register-container .or-login {
      background-color: #676eff;
      padding: 0 20px;
      width: 125%;
      text-align: center;
      border-radius: 8px;
      position: relative;
      border: 3px solid #292a37;
      margin-bottom: 100px;
      margin-left: -55px; }
      .auth-wrapper .login-container .or-login .or-login-wrapper, .auth-wrapper .register-container .or-login .or-login-wrapper {
        width: 80%;
        margin: 0 auto; }
      .auth-wrapper .login-container .or-login .symbol, .auth-wrapper .register-container .or-login .symbol {
        position: absolute;
        left: -100px;
        top: -85px; }
      .auth-wrapper .login-container .or-login button, .auth-wrapper .register-container .or-login button {
        height: 40px;
        width: 100%;
        border-radius: 8px;
        outline: none;
        margin: 20px 0;
        border: 0.5px solid black; }
      .auth-wrapper .login-container .or-login button img, .auth-wrapper .register-container .or-login button img {
        height: 20px; }
      .auth-wrapper .login-container .or-login .login-with-google, .auth-wrapper .register-container .or-login .login-with-google {
        background-color: white; }
      .auth-wrapper .login-container .or-login .login-with-facebook, .auth-wrapper .register-container .or-login .login-with-facebook {
        background-color: #4267B2; }
        .auth-wrapper .login-container .or-login .login-with-facebook img, .auth-wrapper .register-container .or-login .login-with-facebook img {
          height: 15px; }
      .auth-wrapper .login-container .or-login .login-with-apple, .auth-wrapper .register-container .or-login .login-with-apple {
        background-color: black; }
    .auth-wrapper .login-container .title-hr, .auth-wrapper .login-container hr, .auth-wrapper .register-container .title-hr, .auth-wrapper .register-container hr {
      width: 32px;
      height: 5px;
      border-radius: 10px;
      opacity: 1;
      margin: 0 auto;
      background-color: #676eff; }
    .auth-wrapper .login-container .lock, .auth-wrapper .register-container .lock {
      display: block;
      position: absolute;
      right: -80px;
      height: 75px;
      top: 110px; }
    .auth-wrapper .login-container .main-btn, .auth-wrapper .register-container .main-btn {
      margin: 50px 0; }
    .auth-wrapper .login-container a, .auth-wrapper .register-container a {
      color: #eeeeee;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-underline-offset: 2px; }
    .auth-wrapper .login-container .sliders, .auth-wrapper .register-container .sliders {
      margin-top: 10px; }
  .auth-wrapper .birth-picker {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%; }
    .auth-wrapper .birth-picker input {
      width: 425px;
      -webkit-appearance: none; }
      .auth-wrapper .birth-picker input::-webkit-calendar-picker-indicator {
        filter: invert(0.8); }
      .auth-wrapper .birth-picker input::-webkit-date-and-time-value {
        text-align: left; }
      .auth-wrapper .birth-picker input::-webkit-datetime-edit-year-field, .auth-wrapper .birth-picker input::-webkit-datetime-edit-month-field, .auth-wrapper .birth-picker input::-webkit-datetime-edit-day-field {
        transition: all .3s; }
      .auth-wrapper .birth-picker input::-webkit-datetime-edit-year-field:focus, .auth-wrapper .birth-picker input::-webkit-datetime-edit-month-field:focus, .auth-wrapper .birth-picker input::-webkit-datetime-edit-day-field:focus {
        background-color: #676eff;
        color: #eeeeee;
        border-radius: 10px;
        padding: 4px; }
  .auth-wrapper .register-container {
    margin-bottom: 75px; }
    .auth-wrapper .register-container #birth {
      color: transparent; }
      .auth-wrapper .register-container #birth:hover, .auth-wrapper .register-container #birth:focus, .auth-wrapper .register-container #birth:not([value=""]) {
        color: #8a8a8f; }
    .auth-wrapper .register-container .input-container {
      margin-top: 18px !important; }
    .auth-wrapper .register-container .register-divider {
      width: 95% !important;
      background-color: transparent !important;
      border-bottom: 5px dotted #292a37 !important;
      margin: 30px auto !important;
      margin-top: 80px !important; }
    .auth-wrapper .register-container .switch-container {
      margin-top: 10px; }
    .auth-wrapper .register-container #pfp {
      display: none; }
    .auth-wrapper .register-container #get-pfp {
      background-color: #8a8a8f10;
      outline: none;
      border: none;
      border-radius: 12px;
      height: 55px;
      max-width: 425px;
      padding: 0 16px;
      padding-top: 14px;
      text-align: left;
      font-size: 16px; }
    .auth-wrapper .register-container #pfpName {
      color: #8a8a8f; }
    .auth-wrapper .register-container .to-login {
      background-color: #676eff;
      width: 125%;
      margin-left: -55px;
      padding: 16px 0;
      border-radius: 10px;
      margin-top: 20px; }

.country-selector {
  width: 100%;
  text-align: left;
  margin-top: 16px;
  position: relative; }
  .country-selector .country-btn {
    background-color: #292a37;
    color: #8a8a8f;
    width: 425px;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 0 16px;
    font-size: 16px;
    text-align: left;
    height: 55px;
    font-weight: 500;
    font-size: 18px; }
    .country-selector .country-btn img {
      height: 16px;
      border-radius: 3px;
      margin-right: 6px; }
    .country-selector .country-btn i {
      float: right;
      margin-top: 6px;
      margin-right: 10px; }
  .country-selector .country-drop {
    overflow: auto;
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 4px;
    width: 100%;
    background-color: #23232e;
    box-shadow: 4px 5px 10px rgba(0, 0, 0, 0.4);
    max-height: 400px;
    border-radius: 12px;
    z-index: 10;
    list-style-type: none;
    border: 4px solid #292a37; }
    .country-selector .country-drop .country-search {
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: #23232e;
      position: relative;
      margin: 10px 20px;
      user-select: none; }
      .country-selector .country-drop .country-search input {
        width: 100%;
        outline: none;
        border-radius: 12px;
        background-color: #23232e;
        box-shadow: none;
        margin: 10px 0;
        padding: 8px 12px;
        border: 2px solid #292a37;
        color: #eeeeee;
        font-weight: 500; }
        .country-selector .country-drop .country-search input::placeholder {
          font-weight: 500; }
    .country-selector .country-drop hr {
      width: 100%;
      background-color: #292a37;
      height: 3px; }
    .country-selector .country-drop .country-content {
      max-width: 90%;
      text-align: center;
      margin: 4px auto; }
      .country-selector .country-drop .country-content ::-webkit-scrollbar {
        width: 12px; }
      .country-selector .country-drop .country-content ::-webkit-scrollbar-track {
        background-color: transparent; }
      .country-selector .country-drop .country-content ::-webkit-scrollbar-thumb {
        background-color: #8a8a8f;
        border-radius: 16px;
        border: 8px solid transparent;
        background-clip: content-box;
        transition: all 0.2s; }
    .country-selector .country-drop li {
      color: #8a8a8f;
      position: relative;
      padding: 6px 10px;
      padding-right: 20px;
      cursor: pointer; }
      .country-selector .country-drop li .country-flag {
        height: 30px; }

.pr-hr {
  opacity: 1;
  width: 100%;
  margin-bottom: 200px;
  background-color: #292a37;
  height: 5px !important; }

.pr-section-1 {
  position: relative;
  margin-top: 20px;
  margin-bottom: 80px; }
  .pr-section-1 .pr-bg-text {
    bottom: -100px; }
  .pr-section-1 .pr-title {
    text-transform: unset !important;
    font-weight: 600 !important;
    font-size: 46px; }
  .pr-section-1 .pr-featured {
    position: absolute;
    bottom: -250px;
    left: 0;
    right: 0; }
    .pr-section-1 .pr-featured .pr-card {
      border: 5px solid #292a37;
      position: relative;
      width: 100%;
      margin: 0 auto;
      background-color: #23232e;
      border-radius: 30px;
      padding: 30px 40px; }
      .pr-section-1 .pr-featured .pr-card .pr-card-img {
        position: absolute;
        top: -75px;
        right: 60px; }
      .pr-section-1 .pr-featured .pr-card .main-btn {
        margin-top: 75px;
        margin-left: 0px;
        transition: all .2s; }
        .pr-section-1 .pr-featured .pr-card .main-btn i {
          color: #8a8a8f;
          margin-left: 3px;
          transition: all .2s; }
        .pr-section-1 .pr-featured .pr-card .main-btn:hover i {
          color: #eeeeee; }
        .pr-section-1 .pr-featured .pr-card .main-btn:focus i {
          margin-left: 6px; }
      .pr-section-1 .pr-featured .pr-card .sup-title {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important; }
      .pr-section-1 .pr-featured .pr-card .pr-card-title {
        font-weight: 600;
        font-size: 36px;
        margin-top: 0 !important;
        padding-top: 0 !important; }
      .pr-section-1 .pr-featured .pr-card .d-flex img {
        align-self: center;
        margin-right: 5px; }

.pr-section-2 .sorting {
  background-color: #292a37;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 20px 30px;
  margin-right: -32px; }
  .pr-section-2 .sorting h1 {
    font-size: 22px;
    font-weight: 600; }
  .pr-section-2 .sorting h2 {
    color: #8a8a8f;
    font-weight: 600;
    font-size: 20px;
    margin-top: 18px;
    margin-bottom: 8px;
    cursor: pointer;
    transition: all .3s; }
    .pr-section-2 .sorting h2:hover {
      color: #eeeeee; }
  .pr-section-2 .sorting .sorting-hr {
    opacity: 1;
    height: 5px;
    background-color: #676eff;
    width: 20px; }
  .pr-section-2 .sorting .price-btn {
    outline: none;
    border: none;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: transparent;
    color: #eeeeee;
    font-size: 20px; }
  .pr-section-2 .sorting .p-relative input {
    width: 140px;
    color: #eeeeee;
    background-color: transparent;
    border: 2px dotted #676eff;
    border-radius: 10px;
    height: 40px;
    padding-left: 12px; }
    .pr-section-2 .sorting .p-relative input::placeholder {
      font-weight: 600; }
    .pr-section-2 .sorting .p-relative input:focus {
      outline: none; }
    .pr-section-2 .sorting .p-relative input::-webkit-inner-spin-button {
      -webkit-appearance: none; }

.pr-section-2 .content {
  background-color: #23232e;
  border: 5px solid #292a37;
  border-radius: 30px;
  margin-right: -22px; }
  .pr-section-2 .content .wrapper {
    padding: 50px;
    width: 100%; }
    .pr-section-2 .content .wrapper .top-content h3 {
      font-size: 20px; }
    .pr-section-2 .content .wrapper .pr-item {
      border: 5px solid #292a37;
      border-radius: 20px;
      background-color: #23232e;
      margin: 20px 0;
      padding: 10px 20px; }
      .pr-section-2 .content .wrapper .pr-item .main-img {
        align-self: center; }
      .pr-section-2 .content .wrapper .pr-item .sup-title {
        margin-bottom: -2px;
        padding-bottom: 0;
        font-size: 14px; }
      .pr-section-2 .content .wrapper .pr-item h1 {
        padding-top: 0;
        margin-top: 0;
        font-size: 28px; }
      .pr-section-2 .content .wrapper .pr-item .d-flex span {
        color: #8a8a8f;
        margin-top: -5px;
        margin-left: 5px;
        font-weight: 500; }
      .pr-section-2 .content .wrapper .pr-item .desc {
        margin: 14px 0;
        font-size: 16px;
        font-weight: 300; }
      .pr-section-2 .content .wrapper .pr-item img {
        display: inline-block;
        align-self: center;
        align-content: center;
        vertical-align: middle; }
      .pr-section-2 .content .wrapper .pr-item h4 {
        font-size: 18px;
        font-weight: 600; }
      .pr-section-2 .content .wrapper .pr-item .discount-wrapper {
        display: flex; }
      .pr-section-2 .content .wrapper .pr-item .discount {
        border: 1px solid #FF7575;
        padding: 6px 16px;
        padding-left: 20px;
        border-radius: 10px; }
      .pr-section-2 .content .wrapper .pr-item .off {
        background-color: #FF7575;
        border-radius: 10px;
        margin-right: -14px;
        font-size: 12px;
        padding: 2px 10px;
        font-weight: 500;
        height: 22px;
        z-index: 2;
        margin-top: 10px; }

.account-container {
  margin-top: 60px; }
  .account-container .account-wrapper {
    padding: 0 40px; }
  .account-container .d-flex hr {
    width: 35%;
    margin: 0 auto;
    margin-top: 50px;
    opacity: 1;
    background-color: #292a37;
    height: 5px;
    border-radius: 8px; }
  .account-container .d-flex img.rounded-circle {
    display: block;
    margin: 0 auto;
    height: 100px;
    border: 2px solid #eeeeee; }
  .account-container .account-menu {
    margin: 20px auto;
    text-align: center; }
    .account-container .account-menu #menu-slider {
      background-color: #eeeeee;
      width: 40px;
      height: 5px;
      bottom: 0;
      left: 0;
      opacity: 1; }
    .account-container .account-menu #menu-hr {
      background-color: #292a37;
      height: 5px;
      width: 100%;
      opacity: 1; }
    .account-container .account-menu a {
      color: #8a8a8f;
      text-decoration: none;
      font-size: 22px;
      font-weight: 500;
      margin: 0 45px; }
      .account-container .account-menu a:hover {
        color: #eeeeee; }
    .account-container .account-menu .left-menu {
      float: left; }
    .account-container .account-menu .right-menu {
      float: right; }

#app,
body,
html {
  background: #23232e;
  color: #eeeeee;
  font-family: "Quicksand";
  overflow-y: overlay;
  padding: 0;
  margin: 0; }

#main {
  min-height: 100vh;
  min-width: 100vw;
  position: relative;
  overflow-y: overlay;
  overflow-x: hidden;
  color: #eeeeee;
  padding: 0 !important; }

.main-hr {
  width: 100%;
  position: relative;
  margin: 50px auto;
  height: 5px !important;
  background-color: #292a37;
  opacity: 1; }

.p-relative {
  position: relative !important; }

@media (min-width: 767px) {
  #footer-2row {
    position: relative; }
  .col-md-2 ul {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0; }
  #main {
    margin: 0 auto;
    min-height: unset;
    min-width: unset;
    width: 90vw;
    height: 90vh;
    border: 5px solid #292a37;
    border-radius: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    #main .main-wrapper {
      padding: 10px 75px; } }

@media (max-width: 767px) {
  .footer-wrapper {
    padding: 60px 20px !important; }
    .footer-wrapper .col-md-2 ul {
      display: flex !important;
      margin: 0 auto; }
      .footer-wrapper .col-md-2 ul li {
        margin: 0 auto; }
        .footer-wrapper .col-md-2 ul li img:not(.fb) {
          margin-top: 10px;
          width: 22px; }
    .footer-wrapper .footer-links {
      margin: 10px 0; }
  .custom-wrapper {
    margin: 0 20px; }
  .navbar-toggler {
    left: 10px !important; } }

@media (min-width: 575px) and (max-width: 767px) {
  .main-container {
    max-width: 100% !important; } }

@media (max-width: 1200px) {
  .custom-wrapper {
    padding: 0 !important;
    margin: 0 !important; }
  #navBar {
    border-bottom: 5px solid #292a37;
    padding: 0 50px;
    width: 100vw; }
    #navBar .navbar-nav .nav-logo {
      margin-bottom: 20px;
      display: block;
      margin-left: auto;
      margin-right: auto; }
    #navBar .navbar-nav .nav-item {
      margin: 0 auto;
      margin-top: 4px;
      display: flex;
      align-items: center;
      align-self: center; }
      #navBar .navbar-nav .nav-item a {
        display: flex; }
      #navBar .navbar-nav .nav-item i {
        margin-right: 6px;
        margin-top: 4px; }
    #navBar .navbar-nav .main-btn {
      margin-top: 20px;
      margin-bottom: 30px; }
    #navBar .user-nav {
      margin-bottom: 24px !important; }
      #navBar .user-nav .nav-icon {
        margin: 4px 6px; }
      #navBar .user-nav .nav-user-avatar {
        margin-right: 24px !important; }
  .navbar-toggler {
    position: absolute;
    left: 75px;
    top: 40px; } }

/* Texts */
.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #eeeeee; }

.sup-title {
  color: #676eff;
  font-size: 16px; }

.bg-text {
  font-weight: 700;
  font-size: 160px;
  color: #292a37;
  position: absolute;
  z-index: -1;
  text-transform: uppercase; }

.second-title {
  font-size: 25px;
  font-weight: 500; }

p {
  opacity: 0.9; }

/* Navbar */
.navbar-toggler {
  border: none;
  background: transparent !important; }
  .navbar-toggler .icon-bar {
    background-color: #8a8a8f;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all .2s; }
    .navbar-toggler .icon-bar.middle-bar, .navbar-toggler .icon-bar.bottom-bar {
      margin-top: 4px; }
  .navbar-toggler .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%; }
  .navbar-toggler .middle-bar {
    opacity: 0; }
  .navbar-toggler .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%; }
  .navbar-toggler:hover {
    box-shadow: none !important; }
  .navbar-toggler:focus {
    box-shadow: none !important; }
  .navbar-toggler.collapsed .top-bar {
    transform: rotate(0); }
  .navbar-toggler.collapsed .middle-bar {
    opacity: 1; }
  .navbar-toggler.collapsed .bottom-bar {
    transform: rotate(0); }

#navBar .nav-link {
  color: #8a8a8f;
  text-decoration: none;
  font-size: 16px;
  transition: all .2s;
  margin-right: 20px; }

#navBar .nav-link.active,
#navBar .nav-link:hover,
#navBar .user-dropdown:hover::after {
  color: #eeeeee; }

#navBar .nav-logo {
  width: 130px;
  margin-left: -5px; }

#navBar .nav-icon .nav-link i {
  color: #8a8a8f;
  transition: all .2s;
  font-size: 18px; }
  #navBar .nav-icon .nav-link i:hover {
    color: #eeeeee; }

#navBar .nav-icon a {
  margin-right: 6px !important; }

#navBar .nav-cart a {
  margin-left: 20px !important; }

#navBar .user-dropdown::after {
  color: #8a8a8f;
  transition: all .2s; }

#navBar .user-dropdown {
  background: none;
  outline: none;
  border: none; }

#navBar .user-nav .nav-icon {
  text-align: center; }

#navBar .user-dropdown-menu {
  margin-top: 5px !important;
  padding: 4px 0;
  border-radius: 10px;
  background-color: #1d1d29;
  border: 2px solid #292a37;
  position: absolute;
  transition: all .2s; }
  #navBar .user-dropdown-menu .dropdown-item {
    color: #8a8a8f; }
  #navBar .user-dropdown-menu .dropdown-divider {
    border-top: 2px solid #292a37;
    opacity: 1; }
  #navBar .user-dropdown-menu .dropdown-item.active {
    color: #eeeeee;
    background-color: transparent; }
  #navBar .user-dropdown-menu .signout, #navBar .user-dropdown-menu .signout.active {
    color: #8a8a8f;
    transition: all .2s; }
  #navBar .user-dropdown-menu .signout:hover, #navBar .user-dropdown-menu .signout.active:hover {
    color: #FF7575; }

/* Footer */
footer {
  background-color: #1d1d29;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 5px solid #292a37; }
  footer .support {
    display: flex;
    position: relative; }
    footer .support img {
      width: 16px;
      height: 16px;
      align-self: center; }
    footer .support p {
      margin-top: 13px;
      margin-left: 10px; }
  footer .footer-links {
    display: flex !important; }
  footer .footer-wrapper {
    padding: 60px 0; }
  footer hr {
    width: 100%;
    margin: 0;
    height: 5px !important;
    background-color: #292a37;
    opacity: 1; }
  footer p {
    color: #8a8a8f;
    font-size: 14px;
    text-align: justify; }
  footer .small-desc {
    margin: 25px 0;
    line-height: 19px; }
  footer .copyright {
    padding: 15px 0;
    margin-bottom: 0; }
  footer .logo {
    width: 100px; }
  footer .footer-icon-link img {
    width: 20px;
    margin: 0 auto;
    display: block; }
  footer .fb {
    width: 14px !important;
    margin-top: 10px !important; }
  footer .sm-p {
    font-size: 12px; }
  footer ul li {
    margin-bottom: 20px; }
  footer ul li a {
    font-size: 15px;
    color: #eeeeee;
    text-decoration: none; }
  footer ul li a:hover {
    color: #eeeeee; }

/* Alert */
.alert {
  font-family: "Quicksand" !important;
  color: white !important;
  font-weight: 500;
  min-width: 140px;
  font-size: 16px;
  background-color: #1d1d29 !important; }

/* Input */
.input-wrapper {
  text-align: left; }

.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 22px; }
  .input-container label {
    font-size: 18px;
    line-height: 16px;
    font-weight: 500;
    color: #8a8a8f;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    transition: all .2s;
    pointer-events: none; }
    .input-container label img {
      height: 16px;
      margin-right: 6px;
      transition: all .2s; }
    .input-container label img.long {
      height: 16px;
      width: 14px; }
  .input-container label.focus {
    top: 12px;
    font-size: 12px;
    font-weight: 700; }
    .input-container label.focus img {
      height: 8px; }
    .input-container label.focus img.long {
      height: 10px;
      width: 8px; }
  .input-container input {
    color: #8a8a8f;
    background-color: #8a8a8f10;
    outline: none;
    border: none;
    border-radius: 12px;
    height: 55px;
    max-width: 425px;
    padding: 0 16px;
    padding-top: 14px;
    font-size: 16px;
    overflow: auto; }
  .input-container .hide {
    top: -8px;
    left: 0;
    font-size: 12px;
    pointer-events: all; }

.login-wrapper .main-btn, .register-wrapper .main-btn {
  padding: 10px 40px !important; }

.submit-wrapper {
  position: relative; }

.submit-btn {
  color: #676eff !important;
  font-weight: 600;
  width: 100%;
  transition: all .3s;
  text-transform: uppercase;
  border-radius: 16px !important; }
  .submit-btn:hover {
    background-color: #676eff;
    color: #eeeeee !important; }
  .submit-btn:active {
    letter-spacing: 2px; }
  .submit-btn span {
    opacity: 1;
    visibility: visible;
    transition: all .2s; }

.submit-btn.loading {
  border-radius: 50%;
  margin: 0 auto;
  background-color: transparent;
  padding: 0 !important;
  border: 6px solid #8a8a8f10 !important;
  border-left: 6px solid #676eff !important;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite; }
  .submit-btn.loading span {
    display: none; }

.submit-success, .submit-error {
  transform: rotate(0deg) scale(0);
  display: none;
  font-size: 20px;
  transition: all .5s; }

.submit-success.active, .submit-error.active {
  display: block;
  transform: rotate(720deg) scale(1); }
  .submit-success.active i, .submit-error.active i {
    color: white !important; }

.submit-btn.error {
  background-color: #FF7575;
  border: none;
  animation: shake 1s linear both; }
  .submit-btn.error span {
    display: none; }

.submit-btn.success {
  background-color: #78FF9E;
  border: none; }
  .submit-btn.success span {
    display: none; }

@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0); }
  20%,
  80% {
    transform: translate3d(3px, 0, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0); }
  40%,
  60% {
    transform: translate3d(5px, 0, 0); } }

@keyframes spin {
  from {
    transform: rotate(0deg); }
  to {
    transform: rotate(360deg); } }

/* Slider input */
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  margin-top: 15px;
  float: left; }

.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8a8a8f10;
  -webkit-transition: .25s;
  transition: .25s; }
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: #eeeeee;
    -webkit-transition: .25s;
    transition: .25s; }

.slider.round {
  border-radius: 34px; }

.slider.round:before {
  border-radius: 50%; }

input:checked + .slider {
  background-color: #676eff; }

input:checked + .slider:before {
  transform: translateX(26px); }

/* Checkbox */
.checkbox-container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: 2px dotted #676eff;
  transition: border 10s;
  border-radius: 10px; }

/* On mouse-over, add a grey background color */
.checkbox-container:hover input ~ .checkmark,
.checkbox-container input:checked ~ .checkmark {
  border: 2px solid #676eff; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox-container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.checkbox-title {
  font-size: 17px; }

/* Button */
.main-btn {
  padding: 10px 20px !important;
  background-color: transparent;
  border-radius: 50px;
  font-size: 17px;
  border: 2px solid #676eff;
  color: #8a8a8f;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-decoration: none; }

.main-btn-anim {
  transition: all 0.4s; }
  .main-btn-anim:hover {
    color: #eeeeee;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2); }
  .main-btn-anim::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s; }
  .main-btn-anim:active {
    transform: translateY(-1px); }

.filled-btn-anim {
  transition: all .4s; }
  .filled-btn-anim:hover {
    background-color: #676eff;
    color: white; }
  .filled-btn-anim:focus {
    transform: translateY(-2px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); }

/* Scrollbar */
::-webkit-scrollbar {
  width: 18px; }

::-webkit-scrollbar-track {
  background-color: transparent; }

::-webkit-scrollbar-thumb {
  background-color: #8a8a8f;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: all 0.2s; }
