<!DOCTYPE html>
<html lang="hu">
  <head>
    {% load static %}

    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hardwared</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link
      rel="stylesheet"
      href="{% static 'frontend/bootstrap.css' %}"
      type="text/css"
    />
    <script src="{% static 'frontend/bootstrap.min.js' %}"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style/main.css' %}"
    />
  </head>
  <body>
    <noscript> You need to enable Javascript to run this page! </noscript>
    <div id="app"></div>
    <script src="{% static 'frontend/main.js' %}"></script>
  </body>
</html>
