@media (max-width: 767px) {
  .auth-wrapper {
    z-index: 1 !important;
    border: none !important;
  }
}
@media (max-width: 520px) {
  .switch-container {
    .slider {
      transform: translateX(60%);
    }
    #rememberLabel, #showPwdLabel {
      margin-top: 40px;
      right: -65px;
    }
  }
}

.auth-bg-text{
  z-index: -2 !important;
  top: 400px;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
}
#rememberLabel, #showPwdLabel {
  position: absolute;
  right: -110px;
  top: 4px;
}
#showPwdLabel {
  right: -130px;
}
.register-auth-wrapper {
  max-height: 1400px !important;
}
.auth-wrapper {
  margin: 0 auto;
  max-width: 550px;
  max-height: 1000px;
  overflow: visible;
  border: 5px solid $lightGray2;
  border-radius: 0;
  width: 100%;
  height: 100%;
  margin-top: -110px;
  margin-bottom: -5px;
  z-index: -1;
  background-color: $gray;
  display: block;
  position: relative;
  .login-container, .register-container  {
    margin: 200px 50px;
    text-align: center;
    position: relative;

    h5 {
      font-size: 18px;
      font-weight: 400;
    }
    .or-login-hr { 
      background-color: $white;
      height: 4px;
      margin-bottom: 20px;
    }
    .or-login {
      background-color: $main;
      padding: 0 20px;
      width: 125%;
      text-align: center;
      border-radius: 8px;
      position: relative;
      border: 3px solid $lightGray2;
      margin-bottom: 100px;
      margin-left: -55px;
      .or-login-wrapper {
        width: 80%;
        margin: 0 auto;
      }
      .symbol {
        position: absolute;
        left: -100px;
        top: -85px;
      }
      button {
        height: 40px;
        width: 100%;
        border-radius: 8px;
        outline: none;
        margin: 20px 0;
        border: 0.5px solid black;
      }
      button img {
        height: 20px;
      }
      .login-with-google { background-color: white; }
      .login-with-facebook { background-color: $blue; img { height: 15px; } }
      .login-with-apple { background-color: black; }
    }

    .title-hr, hr {
      width: 32px;
      height: 5px;
      border-radius: 10px;
      opacity: 1;
      margin: 0 auto;
      background-color: $main;
    }
    .lock {
      position: absolute;
      right: -80px;
      height: 75px;
      top: 110px;
    }
    .main-btn {
      margin: 50px 0;
    }
    a {
      color: $white;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-underline-offset: 2px;
    }
    .sliders { margin-top: 10px; }
  }

  .birth-picker {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    input {
      width: 425px;      
      float: left;
      &::-webkit-calendar-picker-indicator {
        filter: invert(0.8);
      }
      &::-webkit-datetime-edit-year-field,
      &::-webkit-datetime-edit-month-field,
      &::-webkit-datetime-edit-day-field {
        transition: all .3s;
      }
      &::-webkit-datetime-edit-year-field:focus,
      &::-webkit-datetime-edit-month-field:focus,
      &::-webkit-datetime-edit-day-field:focus {
        background-color: #676eff;
        border-radius: 10px;
        padding: 4px;
      }
    }

  }

  .register-container {
    .register-divider {
      width: 95% !important;
      background-color: transparent !important;
      border-bottom: 3px dashed $lightGray2 !important;
      margin: 30px auto !important;
      margin-top: 80px !important;
    }
    .switch-container {
      margin-top: 10px
    }
  }
}
