@media (min-width: 1200px) {
  .auth-wrapper {
    margin-top: -130px !important;
  }
}

@media (max-width: 991px) {
  .or-login {
    button {
      margin: 10px 0 !important;
    }
  }
}

@media (max-width: 767px) {
  .auth-wrapper {
    z-index: 1 !important;
    border: none !important;
    margin: 0 auto !important;
    .register-container {
      margin: 100px 50px !important;
    }
  }
  .symbol {
    display: none;
  }
  .lock {
    display: none !important;
  }
}
@media (max-width: 520px) {
  footer{
    z-index: 2 !important;
   }
  .or-login-hr {
    display: none !important;
  }
  h5 {
    margin-bottom: 10px;
  }
  .auth-wrapper {
    .main-btn {
      margin-top: 65px !important;
      margin-bottom: 25px !important;    
    }
  }
  .or-login-wrapper {
    width: 95% !important;
  }
  .or-login {
    margin-bottom: 20px !important;
    padding: 0 !important;
    width: 100% !important;
    margin-left: unset !important;
    background-color: transparent !important;
    border: none !important;
  }
  .to-login {
    width: 135% !important;
  }
  .switch-container {
    .slider {
      transform: translateX(60%);
    }
    #rememberLabel, #showPwdLabel {
      margin-top: 40px;
      right: -65px;
    }
  }
  .register-container {
    .birth-picker input {
      width: 100% !important;
    }
    #showPwdLabel {
      top: -35px !important;
      right: -175px !important;
    }
  }
}

.auth-bg-text{
  z-index: -2 !important;
  top: 400px;
  left: 50%;
  transform: translateX(-50%) rotate(-5deg);
}
#rememberLabel, #showPwdLabel {
  position: absolute;
  right: -110px;
  top: 4px;
}
#showPwdLabel {
  right: -130px;
}
.auth-wrapper {
  margin: 0 auto;
  max-width: 550px;
  overflow: visible;
  border: 5px solid $lightGray2;
  border-radius: 0;
  width: 100%;
  margin-top: -18px;
  margin-bottom: -5px;
  z-index: -1;
  background-color: $gray;
  display: block;
  position: relative;
  .login-container, .register-container  {
    margin: 100px 50px;
    margin-top: 150px !important;
    text-align: center;
    position: relative;

    .sub-input-text {
      margin: 0 !important;
      padding: 0 !important;
      font-size: 12px;
      font-weight: 400;
      color: $lightGray1;
    }
    h5 {
      margin: 20px 0;
      font-size: 18px;
      font-weight: 400;
    }
    .or-login-hr { 
      background-color: $white;
      height: 4px;
      margin-bottom: 20px;
    }
    .or-login {
      background-color: $main;
      padding: 0 20px;
      width: 125%;
      text-align: center;
      border-radius: 8px;
      position: relative;
      border: 3px solid $lightGray2;
      margin-bottom: 100px;
      margin-left: -55px;
      .or-login-wrapper {
        width: 80%;
        margin: 0 auto;
      }
      .symbol {
        position: absolute;
        left: -100px;
        top: -85px;
      }
      button {
        height: 40px;
        width: 100%;
        border-radius: 8px;
        outline: none;
        margin: 20px 0;
        border: 0.5px solid black;
      }
      button img {
        height: 20px;
      }
      .login-with-google { background-color: white; }
      .login-with-facebook { background-color: $blue; img { height: 15px; } }
      .login-with-apple { background-color: black; }
    }

    .title-hr, hr {
      width: 32px;
      height: 5px;
      border-radius: 10px;
      opacity: 1;
      margin: 0 auto;
      background-color: $main;
    }
    .lock {
      display: block;
      position: absolute;
      right: -80px;
      height: 75px;
      top: 110px;
    }
    .main-btn {
      margin: 50px 0;
    }
    a {
      color: $white;
      text-decoration: underline;
      text-decoration-style: dotted;
      text-underline-offset: 2px;
    }
    .sliders { margin-top: 10px; }
  }

  .birth-picker {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;
    input {
      width: 425px;
      -webkit-appearance: none;
      &::-webkit-calendar-picker-indicator {
        filter: invert(0.8);
      }
      &::-webkit-date-and-time-value {
        text-align: left;
      }
      &::-webkit-datetime-edit-year-field,
      &::-webkit-datetime-edit-month-field,
      &::-webkit-datetime-edit-day-field {
        transition: all .3s;
      }
      &::-webkit-datetime-edit-year-field:focus,
      &::-webkit-datetime-edit-month-field:focus,
      &::-webkit-datetime-edit-day-field:focus {
        background-color: #676eff;
        color: $white;
        border-radius: 10px;
        padding: 4px;
      }
    }

  }

  .register-container {
    margin-bottom: 75px;
    #birth {
      color: transparent;
      &:hover, &:focus, &:not([value=""]) {
        color: $lightGray1;
      }
    }
    .input-container {
      margin-top: 18px !important;
    }
    .register-divider {
      width: 95% !important;
      background-color: transparent !important;
      border-bottom: 5px dotted $lightGray2 !important;
      margin: 30px auto !important;
      margin-top: 80px !important;
    }
    .switch-container {
      margin-top: 10px
    }
    #pfp {
      display: none;
    }
    #get-pfp {
      background-color: #8a8a8f10;
      outline: none;
      border: none;
      border-radius: 12px;
      height: 55px;
      max-width: 425px;
      padding: 0 16px;
      padding-top: 14px;
      text-align: left;
      font-size: 16px;
    }
    #pfpName {
      color: $lightGray1;
    }
    .to-login {
      background-color: $main;
      width: 125%;
      margin-left: -55px;
      padding: 16px 0;
      border-radius: 10px;
      margin-top: 20px;
    }
  }
}
.country-sub-input-text {
  float: left !important;
}
.country-selector {
  width: 100%;
  text-align: left;
  margin-top: 16px;
  position: relative;
  .country-btn {
    background-color: #8a8a8f10;
    color: $lightGray1;
    width: 425px;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 0 16px;
    font-size: 16px;
    text-align: left;
    height: 55px;
    font-weight: 500;
    font-size: 18px;
    img {
      height: 16px;
      border-radius: 3px;
      margin-right: 6px;
    }
    i {
      float: right;
      margin-top: 6px;
      margin-right: 10px;
    }
  }
  .country-drop {
    position: absolute;
    margin: 0;
    padding: 0;
    margin-top: 10px;
    width: 100%;
    background-color: $gray;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.2);
    max-height: 400px;
    border-radius: 12px;
    z-index: 10;
    list-style-type: none;
    border: 4px solid $lightGray2;
    .country-search {
      position: sticky;
      top: 0;
      z-index: 10;
      background-color: $gray;
      margin: 6px 20px;
      user-select: none;
      input {
        width: 100%;
        outline: none;
        border-radius: 12px;
        background-color: $gray;
        box-shadow: none;
        margin: 10px 0;
        padding: 8px 12px;
        border: none;
        border-bottom: 4px solid $lightGray2;
        color: $white;
        font-weight: 500;
        &::placeholder {
          font-weight: 500;
        }
      }
    }
    hr {
      width: 100%;
      background-color: $lightGray2;
      height: 3px;
    }
    ::-webkit-scrollbar-thumb {
      background-color: $lightGray1;
      height: 50px !important;
      width: 30px !important;
      border-radius: 16px;
      border: 8px solid transparent;
      background-clip: content-box;
      transition: all 0.2s;
    }
    .country-content {
      max-width: 90%;
      max-height: 300px;
      text-align: center;
      margin: 4px auto;
      overflow-y: scroll;
    }
    li {
      color: $lightGray1;
      position: relative;
      padding: 6px 10px;
      padding-right: 20px;
      cursor: pointer;
      transition: all .2s;
      border-radius: 10px;
      margin-top: 4px;
      .country-flag {
        height: 24px;
        border-radius: 5px;
        margin-right: 12px;
      }
      &:hover {
        color: $white;
        background-color: $main;
      }
    }
  }
}