
.pr-hr {
    opacity: 1;
    width: 100%;
    margin-bottom: 200px;
    background-color: $lightGray2;
    height: 5px !important;
}

.pr-section-1 {
    position: relative;
    margin-top: 20px;
    margin-bottom: 80px;
    .pr-bg-text {
        bottom: -100px;
    }
    .pr-title {
        text-transform: unset !important;     
        font-weight: 600 !important;
        font-size: 46px;
    }
    .pr-featured {
        position: absolute;
        bottom: -250px;
        left: 0;
        right: 0;
        .pr-card {
            border: 5px solid $lightGray2;
            position: relative;
            width: 500px;
            margin: 0 auto;
            .pr-card-img {
                position: absolute;
                top: -75px;
                right: 40px;
            }
            .main-btn {
                transition: all .2s;
                position: absolute;
                right: 40px;
                bottom: 40px;
                i {
                    color: $lightGray1;
                    margin-left: 3px;
                    transition: all .2s;
                }
                &:hover {
                    i {
                        color: $white;
                    }
                }
                &:focus {
                    i {
                        margin-left: 6px;
                    }
                }
            }
            .sup-title {
                margin-bottom: 0 !important;
                padding-bottom: 0 !important;
            }
            .pr-card-title {
                font-weight: 600;
                font-size:  36px;
                margin-top: 0 !important;
                padding-top: 0 !important;
            }
            .d-flex {
                img { 
                    align-self: center;
                    margin-right: 5px;
                }
            }
            background-color: $gray;
            border-radius: 30px;
            padding: 30px 40px;
        }
    }
}

#sortingDrop { height: 100%; }

.pr-section-2 {
    .sorting {
        @media (min-width: 1200px) {
            display: block !important;
        }
        background-color: $lightGray2;
        border-top-left-radius: 30px;
        border-bottom-left-radius: 30px;
        padding: 20px 30px;
        margin-right: -32px;
        &.show { height: 100%; }
        h1 {
            font-size: 22px;
            font-weight: 600;
        }
        h2 {
            color: $lightGray1;
            font-weight: 600;
            font-size: 20px;
            margin-top: 18px;
            margin-bottom: 8px;
            cursor: pointer;
            transition: all .3s;
            &:hover {
                color: $white;
            }
        }

        .sorting-hr {
            opacity: 1;
            height: 5px;
            background-color: $main;
            width: 20px;
            border-radius: 10px;
        }
        .price-btn {
            outline: none;
            border: none;
            position: absolute;
            top: 0;
            bottom: 0;
            right: 10px;
            background-color: transparent;
            color: $white;
            font-size: 20px;
        }
        .p-relative {
            input {
                width: 140px;
                color: $white;
                background-color: transparent;
                border: 2px dotted $main;
                border-radius: 10px;
                height: 40px;
                padding-left: 12px;
                &::placeholder { font-weight: 600; }
                &:focus { outline: none; }
                &::-webkit-inner-spin-button { -webkit-appearance: none; }
            }
        }
    }
    .pr-content {
        background-color: $gray;
        border: 5px solid $lightGray2;
        border-radius: 30px;
        margin-right: -22px;

        a { color: unset; text-decoration: unset; }
    
        .wrapper {
            padding: 50px;
            width: 100%;
            .top-content {
                .sortingDropButton {
                    background-color: $main;
                    padding: 10px;
                    outline: none;
                    border: none;
                    color: $white;
                    border-radius: 6px;
                    margin-left: auto;
                    margin-bottom: 10px;
                }
                border-bottom: 5px dotted $main;
                }
                h3 {
                    font-size: 20px;
                    margin-top: 20px;
                }
            }
            .pr-item {
                border: 5px solid $lightGray2;
                border-radius: 20px;
                background-color: $gray;
                margin: 20px 0;
                padding: 10px 20px;
                outline: 5px dotted transparent;
                transition: all .2s;

                &:hover {
                    outline: 5px dotted $main;
                }

                .main-img {
                    align-self: center;
                }
                .sup-title {
                    margin-bottom: -2px;
                    padding-bottom: 0;
                    font-size: 14px;
                }
                h1 {
                    padding-top: 0;
                    margin-top: 0;
                    margin-bottom: 0;
                    font-size: 28px;
                }
                .review {
                    span {
                        color: $lightGray1;
                        margin-top: 0;
                        margin-left: 5px;
                        font-weight: 500;
                    }
                }
                .desc {
                    margin: 14px 0;
                    font-size: 16px;
                    font-weight: 300;
                }
                img {
                    display: inline-block;
                    align-self: center;
                    align-content: center;
                    vertical-align: middle;
                }
                h4 {
                    font-size: 18px;
                    font-weight: 600;
                    margin: 0;
                    padding: 6px 0;
                }
                .pr-item-content {
                    margin-left: 10px;
                }
                .price-wrapper {
                    width: max-content;
                    border: 1px solid $main;
                    border-radius: 10px;
                    padding: 4px 14px;
                }
                .discount-wrapper {
                    margin-bottom: 10px;
                    position: relative;
                    width: max-content;
                    .discount {
                        border: 1px solid $error;
                        padding: 4px 14px;
                        padding-bottom: 10px;
                        padding-left: 20px;
                        border-radius: 10px;
                    }
                    .off {
                        position: absolute;
                        bottom: -10px;
                        left: 0;
                        right: 0;
                        margin: 0 auto;
                        width: max-content;
                        background-color: $error;
                        border-radius: 10px;
                        font-size: 12px;
                        font-weight: 500;
                        height: 22px;
                        z-index: 2;
                        span {
                            text-align: center;
                            padding: 12px;
                        }
                    }
                }
            }
        }
    }

.loading-circle {
    margin-top: -6px;
    height: 100%;
    width: 100%;
}

@media (max-width: 1199px) {
    .pr-item-content { margin: 0 !important; }
    .discount-wrapper { margin: 0 auto; }
    .pr-section-1 {
        margin-top: 60px;
    }
    .pr-item {
        text-align: center !important;
        .d-flex {
            justify-content: center;
            align-items: center;
        }
    }
    #sortingDrop {
        position: absolute;
        left: 0;
        top: 510px;
        z-index: 10;
        width: 240px;
        height: max-content;
        border-radius: 0;
        border-bottom-right-radius: 20px;
        border-top-right-radius: 20px;
        box-shadow: 0 0 2px 8px rgba(0,0,0,0.025);
    }
    .price-btn {
        right: 0 !important;
    }
}

@media (max-width: 767px) {
    #sortingDrop {
        top: 470px;
    }
    .pr-featured {
        bottom: -220px !important;
    }
    .pr-section-2 {
        .content {
            border: none;
            .wrapper {
                padding: 30px;
            }
        }
    }
    .pr-section-1 {
        .pr-title { font-size: 34px; padding: 0 10px; }
        .pr-featured {
            .pr-card {
                width: 400px;
                .pr-card-title { font-size: 28px; }
                .sup-title { font-size: 14px; }
                .d-flex img { height: 10px; }
                .pr-card-img { height: 130px; }
                .d-flex span { font-size: smaller; }
            }
        }
    }  
}

@media (max-width: 500px) {
    .pr-section-1 {
        .pr-featured {
            .pr-card {
                width: 360px;
            }
        }
    }
}