@import "variables";
@import "homepage";
@import "auth";

#app,
body,
html {
  background: $gray;
  color: $white;
  font-family: "Quicksand";
  overflow-y: overlay;
  padding: 0;
  margin: 0;
}

#main {
  height: 100vh;
  width: 100vw;
  position: relative;
  display: block;
  overflow-y: overlay;
  overflow-x: hidden;
  color: $white;
  padding: 0 !important;
}

.main-hr {
  width: 100%;
  position: relative;
  margin: 50px auto;
  height: 5px !important;
  background-color: $lightGray2;
  opacity: 1;
}


@media (min-width: 767px) {
  #footer-2row {
    position: relative;
  }
  .col-md-2 {
    ul {
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
    }
  }
  #main {
    margin: 0 auto;
    width: 90vw;
    height: 90vh;
    border: 5px solid $lightGray2;
    border-radius: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    .main-wrapper {
      padding: 10px 75px;
    }
  }
}

@media (max-width: 767px) {
  .footer-wrapper {
    padding: 60px 20px !important;
    .col-md-2 {
      ul {
        display: flex !important;
        margin: 0 auto;
        li {
          margin: 0 auto;
          img:not(.fb) {
            margin-top: 10px;
            width: 22px;
          }
        }
      }
    }
    .footer-links {
      margin: 10px 0;
    }
  }
  .custom-wrapper {
    margin: 0 20px;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  .main-container {
    max-width: 100% !important;
  }
}

@media (max-width: 1200px) {
  #navBar {
    z-index: 99998;
    background-color: $darkGray;
    padding-left: 30px !important;
    .navbar-nav {
      .nav-logo {
        margin-bottom: 10px;
      }
      .nav-item {
        margin-top: 4px;
        display: flex;
        align-items: center;
        i {
          margin-right: 6px;
        }
      }
      .main-btn {
        margin-top: 20px;
      }
    }
  }
  .navbar-toggler {
    z-index: 99999;
    position: absolute;
    left: 0;
    top: 25px;
  }
  .navbar-toggler.toggled {
    left: 200px;
  }
  .navbar-collapse {
    position: fixed;
    left: 0; 
    padding: 15px;
    width: 350px;
    top: 0;
    height: 100vh;
  }
  .navbar-collapse.collapsing {
    transition: height 0s ease;
    left: -75%;
  }
  .navbar-collapse.show {
    left: 0;
    transition: left .3s ease-in-out;
  }
  .navbar-toggler.collapsed ~ .navbar-collapse {
    transition: left .3s ease-in-out;
  }
}

/* Texts */
.title {
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $white;
}
.sup-title {
  color: $main;
  font-size: 16px;
}
.bg-text {
  font-weight: 700;
  font-size: 160px;
  color: $lightGray2;
  position: absolute;
  z-index: -1;
  text-transform: uppercase;
}
.second-title {
  font-size: 25px;
  font-weight: 500;
}
p {
  opacity: 0.9;
}

/* Navbar */
.navbar-toggler {
  border: none;
  background: transparent !important;
  .icon-bar {
    background-color: $lightGray1;
    display: block;
    width: 22px;
    height: 2px;
    border-radius: 1px;
    transition: all .2s;
    &.middle-bar, &.bottom-bar {
      margin-top: 4px;
    }
  }
  .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
  }
  .middle-bar {
    opacity: 0;
  }
  .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
  }
  &:hover { box-shadow: none !important; }
  &:focus { border: none !important; }
  &.collapsed {
    .top-bar { transform: rotate(0); }
    .middle-bar { opacity: 1; }
    .bottom-bar { transform: rotate(0); }
  }
}
#navBar {
  .nav-link {
    color: $lightGray1;
    text-decoration: none;
    font-size: 16px;
    transition: all .2s;
    margin-right: 20px;
  }
  .nav-link.active,
  .nav-link:hover,
  .user-dropdown:hover::after {
    color: $white;
  }
  .nav-logo {
    width: 130px;
    margin-left: -5px;
  }
  .nav-icon {
    .nav-link i{
      color: $lightGray1;
      transition: all .2s;
      font-size: 18px;
      &:hover {
        color: $white;
      }
    }
    a {
      margin-right: 6px !important;
    }
  }
  .nav-cart a {
    margin-left: 20px !important;
  }
  .nav-hr {
    opacity: 1;
    margin: 0 10px;
    overflow: hidden;
    width: 2px;
    height: 20px !important;
    background-color: transparent;
    border-left: 3px dashed $lightGray1;
  }
  .user-dropdown::after {
    color: $lightGray1;
    transition: all .2s;
  }
  .user-dropdown {
    background: none;
    outline: none;
    border: none;
  }
  .user-dropdown-menu {
    margin-top: 5px !important;
    padding: 4px 0;
    border-radius: 10px;
    background-color: $darkGray;
    border: 2px solid $lightGray2;
    .dropdown-item { color: $lightGray1; }
    .dropdown-divider { border-top: 2px solid $lightGray2; opacity: 1; }
    .dropdown-item.active { color: $white; background-color: transparent; }
    .signout, .signout.active { color: $lightGray1; transition: all .2s; }
    .signout:hover, .signout.active:hover { color: $error; }
  }
}


/* Footer */
footer {
  background-color: $darkGray;
  position: relative;
  bottom: 0;
  width: 100%;
  border-top: 5px solid $lightGray2;
  .support {
    display: flex;
    position: relative;
    p {
      margin-top: 13px;
      margin-left: 10px;
    }
  }
  .footer-links {
    display: flex !important;
  }
  .footer-wrapper {
    padding: 60px 0;
  }
  hr {
    width: 100%;
    margin: 0;
    height: 5px !important;
    background-color: $lightGray2;
    opacity: 1;
  }
  p {
    color: $lightGray1;
    font-size: 14px;
    text-align: justify;
  }
  .small-desc {
    margin: 25px 0;
    line-height: 19px;
  }
  .copyright {
    padding: 15px 0;
    margin-bottom: 0;
  }
  .logo {
    width: 100px;
  }
  .footer-icon-link img {
    width: 20px;
    margin: 0 auto;
    display: block;
  }
  .fb {
    width: 14px !important;
    margin-top: 10px !important;
  }
  .sm-p {
    font-size: 12px;
  }
  ul li {
    margin-bottom: 20px;
  }
  ul li a {
    font-size: 15px;
    color: $white;
    text-decoration: none;
  }
  ul li a:hover {
    color: $white;
  }
}

/* Alert */
.alert {
  font-family: "Quicksand" !important;
  color: white !important;
  font-weight: 500;
  min-width: 140px;
  font-size: 16px;
  background-color: $darkGray !important;
}

/* Input */
.input-container {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 22px;
  label {
      font-size: 18px;
      line-height: 16px;
      font-weight: 500;
      color: $lightGray1;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 16px;
      transition: all .2s;
      pointer-events: none;
      img {
        height: 16px;
        margin-right: 6px;
        transition: all .2s;
      }
      img.long{
        height: 16px;
        width: 14px;
      }
  }
  label.focus {
      top: 12px;
      font-size: 12px;
      font-weight: 700;
      img { height: 8px; }
      img.long { height: 10px; width: 8px; }
  }
  input {
      color: $lightGray1;
      background-color: #8a8a8f10;
      outline: none;
      border: none;
      border-radius: 12px;
      height: 55px;
      max-width: 425px;
      padding: 0 16px;
      padding-top: 14px;
      font-size: 16px;
  }
  .hide {
    top: -8px;
    left: 0;
    font-size: 12px;
    pointer-events: all;
  }
}
.login-wrapper, .register-wrapper {
  .main-btn {
    padding: 10px 40px !important;
  }
}

.submit-wrapper {
  position: relative;

}
.submit-btn {
  color: $main !important;
  font-weight: 600;
  width: 100%;
  transition: all .3s;
  text-transform: uppercase;
  border-radius: 16px !important;
  &:hover {
    background-color: $main;
    color: $white !important;
  }
  &:active { letter-spacing: 2px; }
  span {
    opacity: 1;
    visibility: visible;
    transition: all .2s;
  }
}
.submit-btn.loading {
  span { display: none; }
  border-radius: 50%;
  margin: 0 auto;
  background-color: transparent;
  padding: 0 !important;
  border: 6px solid #8a8a8f10 !important;
  border-left: 6px solid $main !important;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}
.submit-success, .submit-error {
  transform: rotate(0deg) scale(0);
  display: none;
  font-size: 20px;
  transition: all .5s;
}
.submit-success.active, .submit-error.active {
  display: block;
  transform: rotate(720deg) scale(1);
  i {
    color: white !important;
  }
}
.submit-btn.error {
  background-color: $error;
  border: none;
  animation: shake 1s linear both;
  span {
    display: none;
  }
}
.submit-btn.success {
  background-color: $success;
  border: none;
  span {
    display: none;
  }
}
@keyframes shake {
  10%,
  90% {
    transform: translate3d(-2px, 0, 0);
  }
  20%,
  80% {
    transform: translate3d(3px, 0, 0);
  }
  30%,
  50%,
  70% {
    transform: translate3d(-5px, 0, 0);
  }
  40%,
  60% {
    transform: translate3d(5px, 0, 0);
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

/* Slider input */
.switch {
  position: relative;
  width: 60px;
  height: 34px;
  margin-top: 15px;
  float: left;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8a8a8f10;
  -webkit-transition: .25s;
  transition: .25s;
  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: $white;
    -webkit-transition: .25s;
    transition: .25s;
  }
}
.slider.round { border-radius: 34px; }
.slider.round:before { border-radius: 50%; }
input:checked + .slider { background-color: $main; }
input:checked + .slider:before { transform: translateX(26px); }

/* Button */
.main-btn {
  padding: 10px 20px !important;
  background-color: transparent;
  border-radius: 50px;
  font-size: 17px;
  border: 2px solid $main;
  color: $lightGray1;
  cursor: pointer;
  position: relative;
  display: inline-block;
  text-decoration: none;

}
.main-btn-anim {
  transition: all 0.4s;
  &:hover {
    color: $white;
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  }
  &::after {
    content: "";
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
  }
  &:active {
    transform: translateY(-1px);
  }
}


/* Scrollbar */
::-webkit-scrollbar {
  width: 18px;
}
::-webkit-scrollbar-track {
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  background-color: $lightGray1;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  transition: all 0.2s;
}